#what_we_offer{
    background-color: #F3F3F3;
    width: 100vw;
    padding-top: 40px;
    /* height: 320px; */
    position: relative;
}
#wwoffer_content{
    display: flex;
    position: relative;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

}
#right_dots_img{
    position: absolute;
    right: 10px;
    top: 0;
    z-index: 4;
}
#women_img{
    position: absolute;
    right: 15px;
    bottom: 0;
    z-index: 10;
    object-fit: contain;
}
#offer_bottom_img{
    background-color: #f5f5f5;
}

#offers{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
}

.offers_item{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    max-width: 20%;

}

.offers_item p{
    text-align: center;
    color: #4D4D4D;
    font-size: 13px;
}
.offers_item h2{
    font-size: 16px;
    font-weight: 700;
    color: #4D4D4D;

}