<div id="app_reveal_content">
    <div id="app_reveal_content_inner">
        <div id="app_reveal_content_titles">
            <span>Hızlı, kolay ve pratik!</span>
            <h2><strong>Banabibilet.com</strong></h2>
            <h3>Artık hep yanınızda! Uygulamamızı hemen indirin</h3>
        </div>

        <div id="app_reveal_content_items">

            <div class="app_reveal_content_item">
                <span class="content_item_icon bg-yellow">
                    <img src="/src/img/icon/sun.svg" alt="">
                </span>
                <div class="content_item_content">
                    <span>Kullanıcı Dostu</span>
                    <p>Rahat kullanım kolaylığı sayesinde aradığınız seferlere
                        kolayca ulaşabilir ve anında işlemlerinizi gerçekleştirebilirsiniz.</p>
                </div>
            </div>

            <div class="app_reveal_content_item">
                <span class="content_item_icon bg-tomato">
                    <img src="/src/img/icon/clock.svg" alt="">
                </span>
                <div class="content_item_content">
                    <span>Hızlı ve Pratik</span>
                    <p>Tüm bilet işlemlerinizi yeni hızlı yapısı sayesinde
                        anında yapabilirsiniz. Beklemek yok!</p>
                </div>
            </div>

            <div class="app_reveal_content_item">
                <span class="content_item_icon bg-blue">
                    <img src="/src/img/icon/wellnes_white.svg" alt="">
                </span>
                <div class="content_item_content">
                    <span>Yüzlerce Marka ve Uygun Fiyat</span>
                    <p>Uygulamamız üzerinden yüzlerce marka ve uygun fiyatlara
                        anında erişin ve biletinizi hemen alın.</p>
                </div>
            </div>

        </div>

        <div id="app_reveal_link_buttons">
            <img src="/src/img/appstore.png" alt="">
            <img src="/src/img/gplay.png" alt="">
        </div>

    </div>
    <img src="/src/img/app_screens.png" alt="">
</div>