<div id="footer_content">

    <div id="footer_top_wwo">
        <div class="footer_top_wwo-item">
            <img src="/src/img/icon/lock-square.svg" alt="">
            <span>
                <h5>Güvenli Ödeme</h5>
                <span>256bit SSL sertifikası</span>
            </span>
        </div>
        <div class="footer_top_wwo-item">
            <img src="/src/img/icon/coffee.svg" alt="">
            <span>
                <h5>Hızlı Satış</h5>
                <span>Online hızlı satış işlemi</span>
            </span>
        </div>
        <div class="footer_top_wwo-item">
            <img src="/src/img/icon/tag.svg" alt="">
            <span>
                <h5>Bilet Satışında Güven</h5>
                <span>Güvenilir firmalar yanınızda!</span>
            </span>
        </div>
        <div class="footer_top_wwo-item">
            <img src="/src/img/icon/receipt.svg" alt="">
            <span>
                <h5>%100 Memnuniyet</h5>
                <span>Kolay iptal ve iade imkanı</span>
            </span>
        </div>
    </div>

    <div id="footer_mid_navs">
        <div class="footer_nav">
            <h6 class="footer_nav-title">Otobüs Bileti</h6>
            <ul class="footer_nav_list">
                <li><a href="#">Ucuz Otobüs Bileti</a></li>
                <li><a href="#">Otobüs Bilet Satın Al</a></li>
                <li><a href="#">Uçak Bileti Satın Al</a></li>
                <li><a href="#">En Uygun Bilet</a></li>
                <li><a href="#">Ucuz Bilet Fiyatları</a></li>
            </ul>
        </div>
        <div class="footer_nav">
            <h6 class="footer_nav-title">Popüler Firmalar</h6>
            <ul class="footer_nav_list">
                <li><a href="#">Kamil Koç</a></li>
                <li><a href="#">Pamukkale</a></li>
                <li><a href="#">Metro</a></li>
                <li><a href="#">Ulusoy</a></li>
                <li><a href="#">Efe Tur</a></li>
            </ul>
        </div>
        <div class="footer_nav">
            <h6 class="footer_nav-title">Banabibilet.com</h6>
            <ul class="footer_nav_list">
                <li><a href="#">Gizlilik ve Güvenlik</a></li>
                <li><a href="#">KVKK Aydınlatma Metni</a></li>
                <li><a href="#">Bilet Sorgulama</a></li>
                <li><a href="#">İptal ve Değişim</a></li>
                <li><a href="#">Otobüs Kullanım Koşulları</a></li>
            </ul>
        </div>
        <div class="footer_nav">
            <h6 class="footer_nav-title nav_title_underline">Her Zaman Yanınızdayız!</h6>
            <ul class="footer_nav_list">
                <li><a href="#">Bilet Satış & Destek</a></li>
                <li class="nav_list_help_item"><img src="/src/img/icon/headset.svg" alt=""><a href="#">444 26 04</a></li>
                <li class="nav_list_help_item"><img src="/src/img/icon/phone.svg" alt=""><a href="#">0(850) 242 35 20</a></li>
                <li class="nav_list_help_item"><img src="/src/img/icon/alternate_email.svg" alt=""><a href="mailto:destek@banabibilet.com">destek@banabibilet.com</a></li>

                <li class="nav_list_social_icons">
                    <img src="/src/img/icon/facebook.svg" alt="">
                    <img src="/src/img/icon/twitter.svg" alt="">
                    <img src="/src/img/icon/linkedin.svg" alt="">
                    <img src="/src/img/icon/youtube.svg" alt="">
                    <img src="/src/img/icon/instagram.svg" alt="">
                    <img src="/src/img/icon/pinterest.svg" alt="">
                    <img src="/src/img/icon/telegram.svg" alt="">
                </li>
            </ul>
            <div id="whatsapp_btn_wrap">
                <img src="/src/img/icon/whatsapp.svg" alt="">
                <img src="/src/img/icon/up_arrow.svg" alt="">
            </div>
        </div>
    </div>


    <div id="footer_bottom_banner">
            <div id="footer_bottom_banner_content">
                <div id="footer_bottom_banner-logos">
                    <img src="/src/img/visa.svg" alt="">
                    <img src="/src/img/mastercard.svg" alt="">
                    <div id="copy">
                        Copyright © 2023  Kredi Kartı Bilgileriniz 256bit SSL Sertifikası ile güvende!
                    </div>
                </div>
                <div id="footer_bottom_banner_nav">
                    <a href="#">Hakkımızda</a>
                    <a href="#">Bilet Sorgulama</a>
                    <a href="#">PNR  Sorgulama</a>
                    <a href="#">Yardım</a>
                    <a href="#">İletişim</a>
                </div>
            </div>
            <div id="footer_bottom_logo">
                <img src="/src/img/logo.svg" alt="">
            </div>
    </div>
</div>