<div id="header">
    <div id="header_line"></div>
    <div id="header_content">

        <figure>
            <img src="/src/img/logo.svg" alt="Banabibilet Logo">
        </figure>
        <nav id="header_navigation">

            <span class="nav_item">
                <img src="/src/img/icon/question.svg" alt="">
                <a href="#">Yardım</a>
            </span>
            <span class="divider_line"></span>
            <span class="nav_item">
                <img src="/src/img/icon/ticket.svg" alt="">
                <a href="#">Bilet İşlemleri</a>
            </span>
            <span class="divider_line"></span>
            <span class="nav_item">
                <img src="/src/img/icon/contract.svg" alt="">
                <a href="#">İptal & İade</a>
            </span>
            <span class="divider_line"></span>
            <span class="nav_item">
                <img src="/src/img/icon/user.svg" alt="">
                <a href="#">Hesabım</a>
            </span>
            <span class="divider_line"></span>
            <span class="nav_contact">
                <p>Müşteri İletişim Merkezi</p>
                <div class="nav_item ">
                    <img src="/src/img/icon/call-center.svg" alt="">
                    <a href="tel:4440375">444 0 375</a>
                </div>
            </span>

        </nav>
    </div>
</div>