<div id="wwoffer_content">

        <div id="offers">
            <div class="offers_item">
                <img src="/src/img/icon/gauge.svg" alt="">
                <h2>Bi Tıkla Biletini Al</h2>
                <p>Banabibilet.com web sitesi veya
                    mobil uygulaması üzerinden biletinizi
                anında alabilirsiniz.</p>
            </div>
            <div class="offers_item">
                <img src="/src/img/icon/lock.svg" alt="">
                <h2>Güvenli Ödeme</h2>
                <p>256 Bit SSL Sertifikasına sahip
                    altyapımız ile %100 güvenli
                    ödeme yapabilirsiniz.</p>
            </div>
            <div class="offers_item">
                <img src="/src/img/icon/refresh.svg" alt="">
                <h2>Kesintisiz İade</h2>
                <p>İptal edilmiş olan biletiniz için
                    kesintisiz bir şekilde iade
                    işlemi gerçekleşir.</p>
            </div>
            <div class="offers_item">
                <img src="/src/img/icon/wellness.svg" alt="">
                <h2>Güvenilir Firmalar</h2>
                <p>Yüzlerce güvenilir firma ve uygun fiyat
                    seçenekleriyle istediğiniz bileti
                    istediğiniz firmadan anında alın!</p>
            </div>
        </div>

    <img id="offer_bottom_img" src="/src/img/wwo_bottom.svg" alt="">
    <img id="right_dots_img" src="/src/img/wwo_right.svg" alt="">
    <img id="women_img" src="/src/img/wwo_women.png" alt="">

</div>